[
 {lager, [
          {handlers, [
                      {lager_console_backend, [debug, {lager_kazoo_formatter, [time," [", severity, "] ", pid, "#", module, "#", line,"#", message, "\n"] }]}
                      ,{lager_file_backend, [
                                             {file, "log/error.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 5}
                                            ]}
                      ,{lager_file_backend, [
                                             {file, "log/console.log"}, {level, debug}, {formatter, lager_kazoo_formatter},{size, 10485760}, {date, "$D0"}, {count, 5}
                                            ]}
                      ,{lager_syslog_backend, ["jasonm", local0, debug, {lager_kazoo_formatter,["|", {function, <<"undefined">>}, "|", module, ":", line, " (",pid, ") ", message, "\n"]}]}
                     ]},
          {colored, false}
         ,{error_logger_hwm, 500}
         ]}
].
